{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="text-center mb-4">Crie sua Conta na Barbearia</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }} <button type="submit" class="btn btn-primary w-100">Cadastrar</button>
                    </form>
                    <p class="mt-3 text-center">
                        Já tem conta? <a href="{% url 'login' %}">Faça login aqui</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}